<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

    <title>About</title>
</head>
<body>

    <% include ../partials/header %>

    <!-- main body -->
    <main>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <div class="card">
                    <div class="card-title">Jacquelin Louis</div>
                    <p class="card_margin">
                        French<br/>
                        orn the 1 of march 1994 at Créteil (France)
                    </p>
                </div>
                <div class="card">
                    <div class="card-title"><%= i18n.__('Education') %></div>
                    <p class="card_margin">
                        <span class="blue-text text-darken-2">2016-2018 : </span><%= i18n.__('Education_specialisation_at') %> EPITA <%= i18n.__('in') %><strong><%= i18n.__('Education_specialisation_MTI') %></strong><br/>
                        <span class="blue-text text-darken-2">2012-2018 : </span> <%= i18n.__('Education_formation_at')%> <strong>EPITA</strong> Paris<br/>
                        <span class="blue-text text-darken-2">2015 : </span> <%= i18n.__('Education_semester_at')%> <strong>UQAC</strong>, <%= i18n.__('Education_UQAC')%><br/>
                        <span class="blue-text text-darken-2">2012 : </span> <strong><%= i18n.__('Education_baccalaureate')%></strong> <%= i18n.__('Education_specialisation_science')%><br/>
                    </p>
                </div>
                <div class="card">
                    <div class="card-title"><%= i18n.__('Professional') %></div>
                    <ul class="card_margin">
                        <li><span class="blue-text text-darken-2"><%= i18n.__('january') %> 2016 - <%= i18n.__('july') %> 2018 : </span>PLIC (C#, Unity, Javascript)<br/>
                            <%= i18n.__('Professional_conception') %>
                        </li>
                        <li><span class="blue-text text-darken-2"><%= i18n.__('mai') %> 2016 : </span>myPhotoshop (Java)<br/>
                            <%= i18n.__('Professional_creation') %>
                        </li>
                        <li><span class="blue-text text-darken-2"><%= i18n.__('march') %> 2014 : </span>MP3 player (Androïd)<br/>
                            <%= i18n.__('Professional_application') %>
                        </li>
                    </ul>
                    <br/>
                    <ul class="card_margin">
                        <li><span class="blue-text text-darken-2"><%= i18n.__('september') %> 2016 - <%= i18n.__('january') %> 2017 : </span><%= i18n.__('developer') %><br/>
                            <%= i18n.__('Professional_programmer') %>
                        </li>
                        <li><span class="blue-text text-darken-2"><%= i18n.__('june') %> - <%= i18n.__('july') %> 2015 : </span><%= i18n.__('Professional_researcher') %><br/>
                            <%= i18n.__('Professional_programmer_for') %>
                        </li>
                        <li><span class="blue-text text-darken-2"><%= i18n.__('july') %> - <%= i18n.__('august') %> 2014 : </span><%= i18n.__('Professional_seller') %> FNAC Saint-Lazare (Paris)</li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-title"><%= i18n.__('Skills') %></div>
                        <ul class="card_margin">
                            <li><%= i18n.__('Programming') %> : <strong>JAVA / JEE, C#, Javascript, Androïd, C++, C</strong></li>
                            <li><%= i18n.__('Development') %> : Visual Studio and Unity3D, Androïd Studio, Intellij, Git (GitHub / BitBucket), Emacs and Vim, GCC and Clang</li>
                            <li><%= i18n.__('Project_management') %> : UML (MSVisio), Gantt graphs (MSProject), MindMapping</li>
                            <li></li>
                            <li>Linux : Ubuntu, FreeBSD, ArchLinux</li>
                            <li>Microsoft : from Windows 95 to 10</li>
                            <li></li>
                            <li><%= i18n.__('Pc_maintenance') %></li>
                            <li><a href="https://github.com/JacquelinLouis">GitHub</a> <%= i18n.__('and') %> <a href="https://linkedin.com/in/jacquelin-louis-53aa83a8">Linkedin</a> <%= i18n.__('accounts') %></li>
                        </ul>
                </div>
                <div class="card">
                    <div class="card-title"><%= i18n.__('Languages') %></div>
                    <p class="card_margin"><%= i18n.__('english') %> (910 official TOEIC)</p>
                </div>
                <div class="card">
                    <div class="card-title"><%= i18n.__('Hobbies') %></div>
                    <p class="card_margin">
                        Travels, climbing, diving (open water PADI) and swimming (8 years in club), athletics (sports studies)<br/>
                        Boat (coastal licence)
                    </p>
                </div>
            </div>
        </div>
    </main>

    <% include ../partials/footer %>

    <!-- Import jQuery before materialize.js -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
</body>
</html>