<!DOCTYPE html>
<html lang="en">
    <head>

        <% include ../partials/head %>

        <title>Blog</title>
    </head>
    <body>

        <% include ../partials/header %>

        <!-- main body -->
        <main>
            <div class="section no-pad-bot" id="index-banner">
                <div class="container">
                    <form method="post" action="/blog">
                        <div><h4><%=i18n.__('New_post')%></h4></div>
                        <div class="input-field col s6">
                            <input id="new_post_title" name="title" type="text" class="validate"></input>
                            <label for="new_post_title"><%=i18n.__('New_post_title')%></label>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="new_post_text" name="content" class="materialize-textarea"></textarea>
                            <label for="new_post_text"><%=i18n.__('New_post_text')%></label>
                        </div>
                        <div class="row">
                            <div class="file-field input-field col s10">
                                <div class="btn">
                                    <span><%=i18n.__('Files')%></span>
                                    <input id="new_post_file_button" name="files" type="file" multiple></input>
                                </div>
                                <div class="file-path-wrapper">
                                    <input id="new_post_file_field" class="file-path validate" type="text" placeholder="Upload one or more files"></input>
                                </div>
                            </div>
                            <div>
                                <a id="new_post_file_clear_button" class="waves-effect waves-teal btn-flat"><%=i18n.__('Clear')%></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select name="language">
                                    <option value="" disabled selected><%=i18n.__('Select_language')%></option>
                                    <%i18n.getLocales().forEach(function(element) {%>
                                    <option value="<%=element%>"><%=element%></option>
                                    <%})%>
                                </select>
                                <label><%=i18n.__('Choose_language')%></label>
                            </div>
                            <button id="article_new_post_submit_button" class="btn waves-effect waves-light col s6" type="submit" name="action">
                                <%=i18n.__('Submit')%>
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                    <div class="divider"></div>
                    <div><h4><%=i18n.__('Articles')%></h4></div>
                    <%listArticles.forEach(function(element) {%>
                        <div class="card">
                            <div class="card-title"><%=element.title%></div>
                            <div class="card_margin"><%=element.content%></div>
                            <div class="card-action right-align">
                                <form method="post" action="/blog">
                                    <input type="hidden" name="id" value="<%=element._id%>">
                                    <input type="hidden" name="title" value="<%=element.title%>">
                                    <input type="hidden" name="content" value="<%=element.content%>">
                                    <input type="hidden" name="method" value="put">
                                    <input type="submit" class="waves-effect waves-light btn" value="<%=i18n.__('edit')%>">
                                </form>
                                <form method="post" action="/blog">
                                    <input type="hidden" name="id" value="<%=element._id%>">
                                    <input type="hidden" name="method" value="delete">
                                    <input type="submit" class="waves-effect waves-light btn" value="<%=i18n.__('delete')%>">
                                </form>
                            </div>
                        </div>
                    <%})%>
                </div>
            </div>
        </main>

        <% include ../partials/footer %>

        <% include ../partials/foot %>

    </body>
</html>